* {
  padding: 0px;
  margin: 0px;
}

.outer {
  width: 100px;
  height: 100px;
}

.inner {
  width: 50px;
  height: 50px;
}

.App {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
}

.cardcontainer {
  display: flex;
  width: 1000px;
  height: 720px;
  overflow-y: hidden;
  background-color: #edece7;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  flex-direction: column;
}

.topcontainer {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #edece7;
}

.icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  width: 170px;
  height: 170px;
  background-color: #f8f8f4;
  background-size: 170px 170px;
}

.header {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  width: 700px;
  height: 170px;
  background-color: #f8f8f4;
}

.description {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: #f8f8f4;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  text-align: center;
  text-justify: distribute;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottomcontainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #edece7;
}

.smallcontainer {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: #f8f8f4;
  width: 330px;
  height: 300px;
  margin-right: 20px;
}

.smallheader {
  width: 330px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  border-radius: 3px;
}

.contributorslist {
  padding-top: 10px;
  background-color: #f8f8f4;
}

.singlecontributor {
  padding: 2px;
  padding-left: 5px;
  background-color: #f8f8f4;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}
.detailsbody {
  padding-top: 10px;
  background-color: #f8f8f4;
}
.detailsbody p {
  padding: 2px;
  padding-left: 10px;
  background-color: #f8f8f4;
}

.headerrepo {
  height: 50%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 20px;
}

.headeruser {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 100px;
}

.creatorcontainer {
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  background-color: #edece7;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  flex-direction: column;
}

.cardcreatorheader {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
}

.entryform {
  display: flex;
  align-items: center;
}
.entrysettings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 30px;
  background-color: #f8f8f4;
}

.colorpicker {
  margin: 3px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textfield {
  margin: 3px;
  font-size: 14px;
}

.linkdivdisplay {
  height: 60px;
  width: 450px;
  font-size: 16px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-color: #f8f8f4;
  margin-top: 20px;
  text-align: center;
  padding-top: 10px;
}

.starbutton {
  padding-top: 5px;
}
